@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;900&display=swap');

// Breakpoints : 375, 768, 1024, 1440
$bp-mobile: 426px;
$bp-tablet: 768px;
$bp-desk-small: 1024px;


html {
    scroll-behavior: smooth;
    overflow-x: hidden;

    * {
        box-sizing: border-box;
    }
}

body {
    background-color: #050314;
    overflow-x: hidden;
    margin: auto;
    // max-width: 500px;
    padding: 0;
}

.section {
    height: 80vh;

    @media screen and (min-width: $bp-desk-small) {
        height: 100vh;
    }
}

h1 {
    color: #FFFF;
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 28px;
    margin: 0;

    @media screen and (min-width: $bp-tablet) {
        font-size: 66px;
    }

    @media screen and (min-width: $bp-desk-small) {
        font-size: 98px;
    }

    @media screen and (min-width: 1025px) {
        font-size: 128px;
    }
}

h2 {
    color: #FFFF;
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    font-size: 62px;
    margin: 0;

    @media screen and (min-width: $bp-tablet) {
        font-size: 96px;
    }

    @media screen and (min-width: $bp-desk-small) {
        font-size: 128px;
    }
}

h3 {
    color: #FFFF;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin: 0;
}

h4 {
    color: #FFFF;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin: 0;

    @media screen and (min-width: $bp-tablet) {
        font-size: 20px;
    }

    @media screen and (min-width: $bp-desk-small) {
        font-size: 24px;
    }

}

h5 {
    color: #FFFF;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    margin: 5px 10px 5px 10px;
    text-transform: uppercase;
    font-size: 10px;

    @media screen and (min-width: $bp-tablet) {
        font-size: 18px;
    }
}

p {
    color: #FFFF;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    margin: 80px 150px 35px 150px;
    font-size: 24px;
    text-align: center;
}

footer {
    background-color: #f5f5f5;
    padding: 50px;

    .eltfooter {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
        }

        .contactfooter {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            h1 {
                font-size: 18px;
                color: #8E0570;

                @media screen and (min-width: $bp-desk-small) {
                    font-size: 28px;
                }
            }

            p {
                display: flex;
                justify-content: flex-start;
                color: #8E0570;
                margin: 0;
                font-size: 18px;

                @media screen and (min-width: $bp-desk-small) {
                    font-size: 24px;
                }
            }

            img {
                width: 10%;
                margin-top: 15px;
            }
        }

        .sponsorfooter {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            margin-top: 20px;


            @media screen and (min-width: $bp-tablet) {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                flex-direction: column;
                margin-top: 0px;
            }

            img {
                width: 20%;
                margin: 10px;

                @media screen and (min-width: $bp-tablet) {
                    width: 10%;
                }
            }
        }
    }
}

// ACCUEIL
.accueil {
    background-image: url(images/festival.png);
    background-size: cover;
    width: 100%;

    nav {
        position: fixed;
        width: 100%;

        .texte_nav {
            background: rgba(217, 217, 217, 0.2);
            border-radius: 100px;
            margin: 0 50px 0 50px;

            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: row;

            a {
                text-decoration: none;

                .orange {
                    padding: 5px 15px 5px 15px;
                    text-transform: none;
                    background-color: #FA5522;
                    border-radius: 100px;
                }

                :hover {
                    padding: 5px 15px 5px 15px;
                    text-transform: none;
                    background-color: white;
                    border-radius: 100px;
                    color: #050314;
                    text-transform: uppercase;
                }
            }
        }
    }

    .titre_image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .titre_accueil {
            text-align: left;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h2 {
                font-size: 28px;
            }
        }

        .next {
            .fleche {
                z-index: 999;
                display: flex;
                justify-content: center;
                align-items: center;

                margin-top: 150px;
                background: rgba(217, 217, 217, 0.2);
                padding: 15px;
                border-radius: 999px;
            }
        }
    }
}

.line_up {

    .titre_line_up {
        margin-top: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .texte_line_up {
            text-align: left;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }

    .quatrevingt {
        .day1 {
            z-index: 888;
            display: flex;
            margin-top: 100px;
            flex-direction: row;
            justify-content: space-around;

            .group_day1 {
                display: flex;
                flex-direction: column;

                .titre_day1 {
                    text-transform: uppercase;
                    color: #FC8E16;
                    font-size: 46px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 62px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 128px;
                    }
                }
            }

            img {
                width: 50%;
            }
        }

        .annee80 {
            z-index: 999;
            margin-top: -10%;
            width: 50%;
            margin-left: 7%;
        }
    }

    .quatrevingtdix {
        .day2 {
            z-index: 888;
            display: flex;
            margin-top: 100px;
            flex-direction: row;
            justify-content: space-around;

            .group_day2 {
                display: flex;
                flex-direction: column;

                .titre_day2 {
                    text-transform: uppercase;
                    color: #F74E1D;
                    font-size: 46px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 62px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 128px;
                    }
                }
            }

            img {
                width: 50%;
            }
        }

        .annee90 {
            z-index: 999;
            margin-top: -10%;
            width: 50%;
            margin-left: 44%;
        }
    }

    .deuxmil {
        .day3 {
            z-index: 888;
            display: flex;
            margin-top: 100px;
            flex-direction: row;
            justify-content: space-around;

            .group_day3 {
                display: flex;
                flex-direction: column;

                .titre_day3 {
                    text-transform: uppercase;
                    color: #D10E3F;
                    font-size: 46px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 62px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 128px;
                    }
                }
            }

            img {
                width: 50%;
            }
        }

        .annee2000 {
            z-index: 999;
            margin-top: -13%;
            width: 50%;
            margin-left: 7%;
        }
    }

    .deuxmildix {
        .day4 {
            z-index: 888;
            display: flex;
            margin-top: 100px;
            flex-direction: row;
            justify-content: space-around;

            .group_day4 {
                display: flex;
                flex-direction: column;

                .titre_day4 {
                    text-transform: uppercase;
                    color: #8E0570;
                    font-size: 46px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 62px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 128px;
                    }
                }
            }

            img {
                width: 50%;
            }
        }

        .annee2010 {
            z-index: 999;
            margin-top: -15%;
            width: 50%;
            margin-left: 44%;
        }
    }

    .deuxmilvingt {
        .day5 {
            z-index: 888;
            display: flex;
            margin-top: 100px;
            flex-direction: row;
            justify-content: space-around;

            .group_day5 {
                display: flex;
                flex-direction: column;

                .titre_day5 {
                    text-transform: uppercase;
                    color: #0E9AC2;
                    font-size: 46px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 62px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 128px;
                    }
                }
            }

            img {
                width: 50%;
            }
        }

        .annee2020 {
            z-index: 999;
            margin-top: -10%;
            width: 50%;
            margin-left: 7%;
        }
    }

    .planning {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        @media screen and (min-width: $bp-tablet) {
            margin-left: 50px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }

        @media screen and (min-width: $bp-desk-small) {
            margin-top: 50px;
            margin-left: 100px;
        }


        .button-planning {
            display: flex;
            flex-direction: row;
            padding: 10px;
            border-radius: 99px;
            background-color: #FC8E16;
            text-decoration: none;

            @media screen and (min-width: $bp-tablet) {
                padding: 16px;
            }

            @media screen and (min-width: $bp-desk-small) {
                padding: 20px;
            }

            img {
                display: flex;
                align-self: flex-start;

                width: 8%;
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 23px;
                transform: rotate(-90deg);

                @media screen and (min-width: $bp-tablet) {
                    margin-top: 38px;
                }

                @media screen and (min-width: $bp-desk-small) {
                    margin-top: 43px;
                }
            }

            .groupe_planning {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                h3 {
                    font-weight: 900;
                    font-size: 24px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 38px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 52px;
                    }
                }

                h5 {
                    text-transform: none;
                    font-weight: 900;
                    font-size: 16px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 20px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 24px;
                    }
                }

            }
        }
    }
}

// GET YOUR TICKET
.accueil2 {
    nav {
        position: fixed;
        width: 100%;

        .texte_nav2 {
            background: rgba(217, 217, 217, 0.2);
            border-radius: 100px;
            margin: 0 50px 0 50px;

            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: row;

            a {
                text-decoration: none;

                .orange {
                    padding: 5px 15px 5px 15px;
                    text-transform: none;
                    background-color: #FA5522;
                    border-radius: 100px;
                }

                :hover {
                    padding: 5px 15px 5px 15px;
                    text-transform: none;
                    background-color: white;
                    border-radius: 100px;
                    color: #050314;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.ticket {
    .titre_ticket {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .texte_ticket {
            padding-top: 130px;
            text-align: left;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
}

.eltticket {
    background-image: url(images/festival.png);
    background-size: 100%;
    margin-top: 130px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .contenuticket {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        .day1_ticket {
            margin-top: 30px;
            margin-bottom: 15px;
            margin-left: 50px;
            display: flex;
            flex-direction: row;
            padding: 10px 100px;
            border-radius: 99px;
            background-color: #FC8E16;

            a {
                text-decoration: none;

                .groupe_planning {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    h3 {
                        font-weight: 900;
                        font-size: 40px;
                    }

                    p {
                        font-weight: 300;
                        font-size: 16px;
                        margin: 0;
                    }
                }
            }
        }

        .day2_ticket {
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 50px;
            display: flex;
            flex-direction: row;
            padding: 10px 95px;
            border-radius: 99px;
            background-color: #F94C1E;

            a {
                text-decoration: none;

                .groupe_planning {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    h3 {
                        font-weight: 900;
                        font-size: 40px;
                    }

                    p {
                        font-weight: 300;
                        font-size: 16px;
                        margin: 0;
                    }
                }
            }
        }

        .day3_ticket {
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 50px;
            display: flex;
            flex-direction: row;
            padding: 10px 91px;
            border-radius: 99px;
            background-color: #D10E3F;

            a {
                text-decoration: none;

                .groupe_planning {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    h3 {
                        font-weight: 900;
                        font-size: 40px;
                    }

                    p {
                        font-weight: 300;
                        font-size: 16px;
                        margin: 0;
                    }
                }
            }
        }

        .day4_ticket {
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 50px;
            display: flex;
            flex-direction: row;
            padding: 10px 95px;
            border-radius: 99px;
            background-color: #8E0570;

            a {
                text-decoration: none;

                .groupe_planning {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    h3 {
                        font-weight: 900;
                        font-size: 40px;
                    }

                    p {
                        font-weight: 300;
                        font-size: 16px;
                        margin: 0;
                    }
                }
            }
        }

        .day5_ticket {
            margin-top: 15px;
            margin-bottom: 30px;
            margin-left: 50px;
            display: flex;
            flex-direction: row;
            padding: 10px 110px;
            border-radius: 99px;
            background-color: #0E9AC2;

            a {
                text-decoration: none;

                .groupe_planning {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    h3 {
                        font-weight: 900;
                        font-size: 40px;
                    }

                    p {
                        font-weight: 300;
                        font-size: 16px;
                        margin: 0;
                    }
                }
            }
        }
    }

    .VIP {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;

        background-color: #090424;
        padding: 80px;
        border-radius: 99px;
        margin: 15px;

        h3 {
            margin-bottom: 100px;
            font-weight: 900;
            font-size: 64px;
        }

        p {
            font-weight: 900;
            font-size: 22px;
            margin: 0;
        }
    }
}

.about {
    margin-top: 250px;
    margin-bottom: 150px;

    .titre_about {
        .texte_about {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    .photo {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        .grp {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
                margin-bottom: 20px;
                width: 80%;
            }
        }

    }

    .texte_p_about {
        .texte_special {
            font-size: 32px;
            margin-top: 35px;
        }
    }
}

// PLANNING
.planning-page {
    padding-top: 130px;

    .titre_planning {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .planning1 {
        background-color: #FC8E16;
        border-radius: 95px;
        margin: 50px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 0 20px 0;

        @media screen and (min-width: $bp-tablet) {
            margin: 50px 100px;
        }

        @media screen and (min-width: $bp-desk-small) {
            margin: 50px 230px;
        }

        .titre_planning1 {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: row;

            h3 {
                font-weight: 900;
                font-size: 24px;
                padding-right: 5px;

                @media screen and (min-width: $bp-tablet) {
                    font-size: 40px;
                }
            }

            p {
                font-weight: 300;
                font-size: 12px;
                padding-left: 5px;
                margin: 0;

                @media screen and (min-width: $bp-tablet) {
                    font-size: 16px;
                }
            }

        }

        .tableau {
            margin-top: 20px;
            color: #f5f5f5;

            tr {
                .bordure1 {
                    text-align: right;
                    border-bottom: solid 1px;
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 16px;
                    padding-left: 8px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 20px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 24px;
                    }
                }

                .bordure2 {
                    border-bottom: solid 1px;
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }

                .bordure {
                    text-align: right;

                    border-bottom: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }

                .bordure1-1 {
                    text-align: right;
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 16px;
                    padding-left: 8px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 20px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 24px;
                    }
                }

                .bordure2-1 {
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }

                .bordure-1 {
                    text-align: right;

                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .planning2 {
        background-color: #F94C1E;
        border-radius: 95px;
        margin: 50px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 0 20px 0;

        @media screen and (min-width: $bp-tablet) {
            margin: 50px 100px;
        }

        @media screen and (min-width: $bp-desk-small) {
            margin: 50px 230px;
        }

        .titre_planning1 {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: row;

            h3 {
                font-weight: 900;
                font-size: 24px;
                padding-right: 5px;

                @media screen and (min-width: $bp-tablet) {
                    font-size: 40px;
                }
            }

            p {
                font-weight: 300;
                font-size: 12px;
                padding-left: 5px;
                margin: 0;

                @media screen and (min-width: $bp-tablet) {
                    font-size: 16px;
                }
            }

        }

        .tableau {
            margin-top: 20px;
            color: #f5f5f5;

            tr {
                .bordure1 {
                    text-align: right;
                    border-bottom: solid 1px;
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 16px;
                    padding-left: 8px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 20px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 24px;
                    }
                }

                .bordure2 {
                    border-bottom: solid 1px;
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }

                .bordure {
                    text-align: right;

                    border-bottom: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }

                .bordure1-1 {
                    text-align: right;
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 16px;
                    padding-left: 8px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 20px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 24px;
                    }
                }

                .bordure2-1 {
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }

                .bordure-1 {
                    text-align: right;

                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .planning3 {
        background-color: #D10E3F;
        border-radius: 95px;
        margin: 50px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 0 20px 0;

        @media screen and (min-width: $bp-tablet) {
            margin: 50px 100px;
        }

        @media screen and (min-width: $bp-desk-small) {
            margin: 50px 230px;
        }

        .titre_planning1 {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: row;

            h3 {
                font-weight: 900;
                font-size: 24px;
                padding-right: 5px;

                @media screen and (min-width: $bp-tablet) {
                    font-size: 40px;
                }
            }

            p {
                font-weight: 300;
                font-size: 12px;
                padding-left: 5px;
                margin: 0;

                @media screen and (min-width: $bp-tablet) {
                    font-size: 16px;
                }
            }

        }

        .tableau {
            margin-top: 20px;
            color: #f5f5f5;

            tr {
                .bordure1 {
                    text-align: right;
                    border-bottom: solid 1px;
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 16px;
                    padding-left: 8px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 20px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 24px;
                    }
                }

                .bordure2 {
                    border-bottom: solid 1px;
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }

                .bordure {
                    text-align: right;

                    border-bottom: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }

                .bordure1-1 {
                    text-align: right;
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 16px;
                    padding-left: 8px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 20px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 24px;
                    }
                }

                .bordure2-1 {
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }

                .bordure-1 {
                    text-align: right;

                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .planning4 {
        background-color: #8E0570;
        border-radius: 95px;
        margin: 50px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 0 20px 0;

        @media screen and (min-width: $bp-tablet) {
            margin: 50px 100px;
        }

        @media screen and (min-width: $bp-desk-small) {
            margin: 50px 230px;
        }

        .titre_planning1 {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: row;

            h3 {
                font-weight: 900;
                font-size: 24px;
                padding-right: 5px;

                @media screen and (min-width: $bp-tablet) {
                    font-size: 40px;
                }
            }

            p {
                font-weight: 300;
                font-size: 12px;
                padding-left: 5px;
                margin: 0;

                @media screen and (min-width: $bp-tablet) {
                    font-size: 16px;
                }
            }

        }

        .tableau {
            margin-top: 20px;
            color: #f5f5f5;

            tr {
                .bordure1 {
                    text-align: right;
                    border-bottom: solid 1px;
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 16px;
                    padding-left: 8px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 20px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 24px;
                    }
                }

                .bordure2 {
                    border-bottom: solid 1px;
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }

                .bordure {
                    text-align: right;

                    border-bottom: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }

                .bordure1-1 {
                    text-align: right;
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 16px;
                    padding-left: 8px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 20px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 24px;
                    }
                }

                .bordure2-1 {
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }

                .bordure-1 {
                    text-align: right;

                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .planning5 {
        background-color: #0E9AC2;
        border-radius: 95px;
        margin: 50px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 0 20px 0;

        @media screen and (min-width: $bp-tablet) {
            margin: 50px 100px;
        }

        @media screen and (min-width: $bp-desk-small) {
            margin: 50px 230px;
        }

        .titre_planning1 {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: row;

            h3 {
                font-weight: 900;
                font-size: 24px;
                padding-right: 5px;

                @media screen and (min-width: $bp-tablet) {
                    font-size: 40px;
                }
            }

            p {
                font-weight: 300;
                font-size: 12px;
                padding-left: 5px;
                margin: 0;

                @media screen and (min-width: $bp-tablet) {
                    font-size: 16px;
                }
            }

        }

        .tableau {
            margin-top: 20px;
            color: #f5f5f5;

            tr {
                .bordure1 {
                    text-align: right;
                    border-bottom: solid 1px;
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 16px;
                    padding-left: 8px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 20px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 24px;
                    }
                }

                .bordure2 {
                    border-bottom: solid 1px;
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }

                .bordure {
                    text-align: right;

                    border-bottom: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }

                .bordure1-1 {
                    text-align: right;
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 16px;
                    padding-left: 8px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 20px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 24px;
                    }
                }

                .bordure2-1 {
                    border-left: solid 1px;
                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }

                .bordure-1 {
                    text-align: right;

                    font-family: 'Outfit', sans-serif;
                    font-weight: 900;
                    padding: 3px;
                    font-size: 12px;

                    @media screen and (min-width: $bp-tablet) {
                        font-size: 14px;
                    }

                    @media screen and (min-width: $bp-desk-small) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

// INFORMATIONS
.pratical_info {
    background-image: url(images/festival.png);
    background-size: cover;
    width: 100%;

    .text_pratical {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        background-color: #050314;
        margin: 0px 200px;

        h2 {
            margin: 50px 5px;
            text-transform: uppercase;
            font-size: 64px;
        }

        h3 {
            font-size: 28px;
            font-weight: 600;
            margin: 20px;
        }

        p {
            margin: 0;
            font-size: 18px;
        }

        ul {
            color: #FFFF;
            font-family: 'Outfit', sans-serif;
            font-weight: 300;
            margin: 0;
            font-size: 18px;
            text-align: center;
        }

        .app {
            margin: 40px;

            .boutton_app {
                color: #FFFF;
                font-family: 'Outfit', sans-serif;
                font-weight: 300;
                margin: 0;
                font-size: 20px;
                text-align: center;
                text-decoration: none;
                background-color: #FC8E16;
                padding: 5px 50px;
                border-radius: 33px;
            }
        }

        .boutton {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .boutton_map {
                margin: 40px 20px;
                color: #FFFF;
                font-family: 'Outfit', sans-serif;
                font-weight: 300;
                font-size: 20px;
                text-align: center;
                text-decoration: none;
                background-color: #8E0570;
                padding: 5px 50px;
                border-radius: 33px;
            }

            .boutton_flyer {
                margin: 40px 20px;
                color: #FFFF;
                font-family: 'Outfit', sans-serif;
                font-weight: 300;
                font-size: 20px;
                text-align: center;
                text-decoration: none;
                background-color: #0E9AC2;
                padding: 5px 50px;
                border-radius: 33px;
            }

            .boutton_poster {
                margin: 40px 20px;
                color: #FFFF;
                font-family: 'Outfit', sans-serif;
                font-weight: 300;
                font-size: 20px;
                text-align: center;
                text-decoration: none;
                background-color: #D10E3F;
                padding: 5px 50px;
                border-radius: 33px;
            }

        }
    }
}